extends layout

block content
  .jumbotron(style="margin:5rem")
      h1.display-4 欢迎光临 
      p.lead
        | 这是一个简单的Express + Mysql 示例工程，欢迎大家使用。
      p
        | 作者：ganxunzou@163.com
      hr.my-4
      p.lead
        a.btn.btn-primary.btn-lg(href='/users/login', role='button') 登 录