doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    block css
   
  body
    block nav
      include Navbar 
      
    block content

  script(src='/js/vendor/jquery-slim.min.js')
  script(src='/js/vendor/popper.min.js')
  script(src='/js/bootstrap.min.js')